.home {
    width: 100%;
    min-height: 90vh;

    display: flex;
    align-items: center;
    justify-content: space-around;
}

.home img {
    height: 500px;
}

.home p {
    font-size: 3rem;
    font-weight: bold;
    margin-bottom: 2rem;
}

.home span {
    color: var(--red);
}

.btn {
    width: 250px;
    height: 50px;
    font-size: 1.125rem;
    font-weight: bold;
    border: 0;
    border-radius: 8px;
    cursor: pointer;
    display: flex;
    align-items: center;
    text-decoration: none;
    justify-content: center;
}

.btn_red {
    background-color: var(--red);
    color: var(--white);
}

.btn_red:hover {
    background-color: var(--primary);
    transition: all .5s;
}